/*Colours*/
:root {
    --fg-color: #ffffff;
    --bg-color: #002147;
    --accent: #B9D6F2;
    --bold: #FB5607;
}

/*Fonts*/
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Responsive layout*/
html {
    font-size: 100%;
    line-height: 1.35;
    margin: 1rem 1rem;
    font-family: "Inter";
}

@media (min-width: calc(720px + 2rem)) {
    html {
        margin: 1rem auto;
        max-width: 720px;
        font-size: calc(100% * 20 / 16);
    }
}

/*Animations*/
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

/*Apply to all*/
* {
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--fg-color);
}

/*Hover*/
a {
    transition: 0.25s;
    color: var(--accent);
}
a:hover {
    color: var(--bold);
}

hr {
    border-width: 0;
    height: 2px;
    background-color: var(--bold);
}

/*Body*/
body {
    font-family: inherit;
    animation: fade ease 2s;
    -moz-animation: fade ease 2s;
    -webkit-animation: fade ease 2s;
    -o-animation: fade ease 2s;
    -ms-animation: fade ease 2s;
}

/*Text styles*/
p {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var(--accent);
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

/*Lists*/
li {
    list-style-type: square;
    padding: 0.2rem 0;
}
li::marker {
    color: var(--accent);
}
