/*Variables*/
:root {
    --oxford-blue: #002147;
    --off-white: #f2f0f0;

    --royal-blue: #1d42a6;
    --light-blue: #B9D6F2;
    --orange: #FB5607;
    --yellow-ochre: #E2C044;

    --content-width: 48rem;
    --transition-time: 0.3s;
    --radius: 12px;
}

/*Fonts*/
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto-v51-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* roboto-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto-v51-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* space-grotesk-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-grotesk-v22-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*Cascade*/
html {
    font-size: 13pt;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background: var(--oxford-blue);
    color: var(--off-white);
    transition: var(--transition-time);
}
@media screen and (max-width: 720px) {
	html {
		font-size: 11pt;
	}
}

/*Links*/
a {
    transition: var(--transition-time);
    color: var(--light-blue);
}
a:hover {
    color: var(--orange);
}

/*Headings*/
h1, h2, h3, summary {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}
h1 {
    font-size: 2.5rem;
    line-height: 1.4;
}
h2 {
    padding: 0.5rem 0;
    border-bottom: solid 2px;
    font-size: 1.5rem;
    line-height: 1.4;
}
h3 {
    font-size: 1.25rem;
    line-height: 1.4;
}
summary {
    font-size: 1.25rem;
    line-height: 1.4;
}

::selection {
	color: var(--off-white);
	background-color: var(--orange);
}

/*Utilities*/
.wrapper {
	margin-inline: auto;
    margin-top: 0;
    margin-bottom: 0;
	padding: 2rem;
	max-width: var(--content-width);
}

.grow-on-hover {
    transition: var(--transition-time);
}
.grow-on-hover:hover {
    scale: 1.05;
}

.logo {
    height: 4rem;
}

.tiny-logo {
    height: 2rem;
}

.cover-image-container {
    width: 100%;
    height: 10rem;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-background {
    background-image: linear-gradient(150deg, var(--oxford-blue) 0%, var(--royal-blue) 150%);
    background-attachment: fixed;
}

.radius {
    border-radius: var(--radius);
}

.grotesk {
    font-family: 'Space Grotesk', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.large {
    font-size: 18pt;
}

.website-credit {
    font-size: 0.75rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}

.card.container {
    width: 100%;
    margin-top: 1rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    transition: var(--transition-time);
    vertical-align: top;
}

.card.container:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.card.content {
    --lr-padding: 1.5rem;
    --tb-padding: 0.5rem;
    width: calc(100% - 2 * var(--lr-padding));
    padding-left: var(--lr-padding);
    padding-right: var(--lr-padding);
    padding-top: var(--tb-padding);
    padding-bottom: var(--tb-padding);
}

.card.link {
    text-decoration: none;
}

.light-blue {
    background-image: linear-gradient(150deg, var(--light-blue), var(--royal-blue) 300%);
    background-color: var(--light-blue);
    color: var(--oxford-blue);
}

.orange {
    background-image: linear-gradient(150deg, var(--yellow-ochre) -200%, var(--orange) 100%);
    background-color: var(--orange);
    color: var(--off-white);
}